<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Caesar Cipher</title>
</head>
<body>
    <!-- MAIN CONTAINER -->
    <div id="main-container">
        <h1>Caesar Cipher Program</h1>

        <!-- ENCRYPT CONTAINER -->
            <div id="encrypt-container-main">
                <!-- Encrypt Input -->
                <div id="encrypt-container-input">
                    <p>Encrypt:</p>
                    <form method="post" action="{{ url_for('encrypt') }}" id="encrypt-form">
                        <label for="input-text">Input:</label>
                        <textarea name="input-text" id="input-text" placeholder="text to encrypt" cols="50" rows="10"></textarea>
                        <label for="key">Shift/Key:</label>
                        <input type="number" name="key">
                        <button type="submit">
                            Encrypt
                        </button>
                    </form>
                </div>

                <!-- Encrypt Output -->
                <div id="encrypt-container-output">
                    <div id="encrypt-response-holder">
                        <label for="encrypt-response-area">Encrypted results:</label>
                        <textarea name="encrypt-response-area" id="encrypt-response-area" cols="50" rows="10"></textarea>
                    </div>
                </div>
            </div>

        <!-- DECRYPT CONTAINER -->
            <div id="decrypt-container-main">
                <!-- Decrypt Input -->
                <div id="decrypt-container-input">
                    <p>Decrypt:</p>
                    <form method="post" action="{{ url_for('decrypt') }}" id="decrypt-form">
                        <label for="input-text">Input:</label>
                        <textarea name="input-text" id="input-text" placeholder="text to decrypt" cols="50" rows="10"></textarea>
                        <label for="key">Shift/Key:</label>
                        <input type="number" name="key">
                        <button type="submit">
                            Decrypt
                        </button>
                    </form>
                </div>

                <!-- Decrypt Output -->
                 <div id="decrypt-container-output">
                    <div id="decrypt-response-holder">
                        <label for="decrypt-response-area">Decrypted results:</label>
                        <textarea name="decrypt-response-area" id="decrypt-response-area" cols="50" rows="10"></textarea>
                    </div>
                 </div>
            </div>


    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script type="text/javascript">
        window.onload = function()
        {
            if (window.jQuery)
            {
                console.log("JQuery loaded successfully.");
            }
            else
            {
                console.log("JQuery failed to load.");
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $("#encrypt-form").on('submit', function(e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('encrypt') }}",
                    data: $(this).serialize(),
                    success: function(response) {
                        $("#encrypt-response-area").val(response.data);
                    },
                    error: function(error) {
                        alert("ERROR");
                        console.log(error);
                    }
                });
            });

            $("#decrypt-form").on('submit', (e) => {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('decrypt') }}",
                    data: $(this).serialize(),
                    success: (response) => {
                        console.log(response.data);
                    },
                    error: (xhr, status, error) => {
                        console.log('Submission error:', error);
                    }
                });
            });
        });
    </script>
</body>
</html>