body {
    font-family: sans-serif;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    align-items: center;
}

#encrypt-container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#encrypt-container-input {
    display: flex;
    flex-direction: column;
}

#encrypt-form {
    display: flex;
    flex-direction: column;
}

#decrypt-container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#decrypt-container-input {
    display: flex;
    flex-direction: column;
}

#decrypt-form {
    display: flex;
    flex-direction: column;
}

p {
    font-weight: bold;
}

button {
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: lightgreen;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

label {
    margin: 10px;
    font-weight: bold;
}

input {
    margin: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}


input[type=number]:focus {
    border: 3px solid #555;
}

.form-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#encrypt-container-output {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 75px;
}

#decrypt-container-output {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 75px;
}

#encrypt-response-holder {
    display: flex;
    flex-direction: column;
}

#decrypt-response-holder {
    display: flex;
    flex-direction: column;
}