#main-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    align-items: center;
}

#encrypt-container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#encrypt-container-input {
    display: flex;
    flex-direction: column;
}

#encrypt-form {
    display: flex;
    flex-direction: column;
}

#decrypt-container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#decrypt-container-input {
    display: flex;
    flex-direction: column;
}

#decrypt-form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
    width: 100px;
    height: 30px;
}

label {
    margin: 10px;
}

input {
    margin: 10px;
}